html,
body {
    margin: 0;
    height: 100%;
}

body {
    color: darkslategray;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#map {
    flex: 1;
}

.mainHeader {
    background: darkslategray;
    color: white;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    opacity: .8;
    overflow: hidden;
    text-align: center;
}

.mainHeader h1 {
    font-size: 24px;
    padding: 0 15px;
}

.mainHeader button {
    background: transparent;
    border: 2px solid transparent;
    color:  goldenrod;
    outline: none;
}

.mainHeader button:hover,
.mainHeader button:focus {
    color: gold;
    cursor: pointer;
    opacity: .8;
}

.mainContainer {
    display: flex;
    flex: 1 1;
    order: 2;
}

.mainHeader__dropdownMenu {
    background: darkslategray;
    display: none;
    opacity: .8;
    position: fixed;
    top: 60px;
    right: 0;
    width: 225px;
    z-index: 10000;
}

.mainHeader__dropdownMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mainHeader__dropdownMenu li {
    padding: 10px;
}

.mainHeader__dropdownMenu li:hover {
    background: goldenrod;
}

.mainHeader__dropdownMenu a {
    text-decoration: none;
    color: whitesmoke;
}

.mainHeader__dropdownMenu a:hover {
    color: white;
}

.mainHeader__dropdownMenu a:focus {
    color: goldenrod;
    outline: none;
}

.infoPanel__container {
    display: flex;
    height: 100vh;
    position: fixed;
    top: 60px;
    z-index: 1000;
}

.infoPanel {
    background: white;
    opacity: .9;
    padding: 15px;
    width: 300px;
}

.infoPanel__bar {
    background: darkslategray;
    box-shadow: 0 0 5px 0 #555;
    color: white;
    cursor: pointer;
    opacity: .5;
    padding-top: 10px;
    text-align: center;
    width: 15px;
}

.infoPanel__bar:hover {
    opacity: .8;
}

.infoPanel h2 {
    font-size: 22px;
}

.infoPanel h3 {
    font-size: 18px;
}

.infoPanel select {
    border: 1px solid darkslategray;
    width: 100%;
}

.infoPanel select:hover,
.infoPanel select:focus {
    border: 1px solid goldenrod;
}

.infoPanel label:hover {
    color: goldenrod;
    cursor: pointer;
}

input[type=radio]:hover,
input[type=checkbox]:hover {
    cursor: pointer;
}

