/*
This stylesheet is for all styles specific to the map itself (popups, zoom controls, etc.).
*/

.popupAttributes .labelName {
    color: darkolivegreen;
    font-weight: bold;
}

/*
Marker cluster plugin CSS overrides
*/

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
    background-color: rgba(107, 142, 35, 0.6);
    color: white;
    }
    
	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small,
.leaflet-oldie .marker-cluster-medium,
.leaflet-oldie .marker-cluster-large {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div,
.leaflet-oldie .marker-cluster-medium div,
.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(110, 204, 57);
    color: white;
	}

.marker-cluster div {
    font: 12px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
