/*
This stylesheet is for all styles specific to the map itself (popups, zoom controls, etc.).
*/

.popupAttributes .labelName {
    color: black;
    font-weight: bold;
    margin-right: 6px;
}

.popupAttributes {
    font: 14px 'Signika', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.leaflet-popup,
.leaflet-popup-content {
    width: 275px;
}

.leaflet-popup h1 {
    color: #66bd63;
    font: 18px 'Signika', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: .8;
}

.leaflet-popup hr {
    width: 80%;
}

/*
Leaflet overrides
*/
.leaflet-control {
    font: 12px 'Signika', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.leaflet-tooltip {
    background-color: white;
    border: lightgrey;
    color: black;
    font: 20px 'Signika', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px;
}

/*
Marker cluster plugin CSS overrides
*/

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
	background-color: #66bd63;
	}
.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
    background-color: rgba(71, 72, 73, 0.6);
    color: white;
    }
    
	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small,
.leaflet-oldie .marker-cluster-medium,
.leaflet-oldie .marker-cluster-large {
	background-color: rgb(102,189,99);
	}
.leaflet-oldie .marker-cluster-small div,
.leaflet-oldie .marker-cluster-medium div,
.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(110, 204, 57);
    color: white;
	}

.marker-cluster div {
    font: 12px 'Signika', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
