html,
body {
    margin: 0;
    height: 100%;
}

body {
    color: #282828;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mainHeader {
    height: 60px;
    font-size: 40px;
    padding: 10px;
}

.mainContainer {
    display: flex;
    flex: 1 1;
    order: 2;
}

#map {
    flex: 1;
}

.infoPanel {
    padding: 10px;
    text-align: center;
    width: 250px;
}
